   .mat-csxl-search-bar {
    ::ng-deep .mat-mdc-card {
      max-width: 100% !important;
    }
  }
  .advising-search-results {
    flex: 1 1 auto; /* Only take up needed space */
  
    /* This CSS is absolute wizardry, which allows the pane to not
      overflow on the bottom while also enabling scrolling... */
    min-height: 0;
    max-height: 100%;
    max-width: 100%;
    border-color: transparent !important;
  }

  .search-result-card{
    border-color: transparent !important;
  }

  .underlined-title {
    text-decoration: underline;
  }